.filterLabel {
    margin-bottom: 0.5rem; 
    text-align: left; 
    display: block; 
    font-size: 16px;
  }
  
  .filterName {
    width: 100%; 
    margin: 0.5rem auto 1rem; 
    padding: 0.5rem;
    font-size: large; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    display: block; 
  }